.title {
  font-size: rem(40px);
  /* background: -webkit-linear-gradient(cyan, violet); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: rem(48px);
  }
}

.step {
  align-items: center;
  gap: rem(10px);
  padding: rem(8px);
  color: white;
  width: max-content;
  font-weight: 700;

  border-radius: 3px;
  box-shadow: 1px 1px 3px #eee;
  @mixin dark {
    box-shadow: 1px 1px 3px #333;
  }
}

.stepTitle {
  font-size: rem(20px);
  font-weight: 600;
}

.lastStep {
  color: white;
  align-items: center;
  padding: rem(12px);
  gap: rem(8px);
  border-radius: 3px;
}

.lastStep .stepTitle {
  font-weight: 800;

  font-size: rem(24px);

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: rem(32px);
  }
}

.stepsWrapper {
  gap: rem(20px);
  flex-wrap: wrap;
  justify-content: center;

  /* @media (min-width: $mantine-breakpoint-lg) {
    flex-direction: column;
  } */
}

.contentWrapper {
  flex: 1;
  border: 1px solid;
  padding: 1rem;
  border-color: var(--mantine-color-dimmed);
}

.imgWrapper {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
}

.img {
  max-height: 70vh;
  /* box-shadow: ; */
  /* height: 100%; */
}
